@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.navbar {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 7%;
	background-color: #071026;
	align-items: center;
	box-sizing: border-box;
	padding-left: 3%;
}

.navbar .title {
	color: #09ab67;
	font-size: large;
	font-weight: 800;
	font-family: sans-serif;
}

.banner {
	width: 100%;
	height: 90%;
	background: url("../img/banner1.jpeg");
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner .box1 {
	width: 200px;
	height: 200px;
	background-color: rgba(0, 0, 0, 0);
	perspective: 183px;
}

.banner .box1 .box-wrap {
	transform: rotateX(360deg) rotateY(-330deg);
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
	border: 10px solid #071026;

}

.banner .box1 .box-wrap .box-wrap-child {
	width: 90%;
	height: 90%;
	border: 10px solid #09ab67;
}

.footer {
	width: 100%;
	height: 50%;
	background-color: #071026;
}
